extends layout

block content
      main.main-content
        .fullwidth-block.inner-content
          .container
            .row
              .col-md-7
                .content
                  h2.entry-title Blog
                  .post
                    .entry-date
                      .date 19
                      span.month Jan
                    .featured-image
                      img(src='images/jesse-jagz.jpg', alt='')
                    h2.entry-title
                      a(href='#') Skinny Jay is going on tour
                    p
                      | Skinny Jay will we going on tour from the 1st of February to the 23rd of February. If you live in Lagos, Jos, Port Harcourt, Kaduna and Abuja be ready to come out and experience the bomb.
                      | Skinny Jay will we going on tour from the 1st of February to the 23rd of February. If you live in Lagos, Jos, Port Harcourt, Kaduna and Abuja be ready to come out and experience the bomb.
                      | Skinny Jay will we going on tour from the 1st of February to the 23rd of February. If you live in Lagos, Jos, Port Harcourt, Kaduna and Abuja be ready to come out and experience the bomb.
                      | Skinny Jay will we going on tour from the 1st of February to the 23rd of February. If you live in Lagos, Jos, Port Harcourt, Kaduna and Abuja be ready to come out and experience the bomb.
                    a(href='#') Read more
                  .post
                    .entry-date
                      .date 16
                      span.month Jan
                    .featured-image
                      img(src='images/standing-mic.jpg', alt='')
                    h2.entry-title
                      a(href='#') We had an awesome day at the studio today
                    p
                      | We had an awesome day at the studio today. There was a lot of beautiful music made today. We can't wait for you guys to hear it.
                      | We had an awesome day at the studio today. There was a lot of beautiful music made today. We can't wait for you guys to hear it.
                      | We had an awesome day at the studio today. There was a lot of beautiful music made today. We can't wait for you guys to hear it.
                      | We had an awesome day at the studio today. There was a lot of beautiful music made today. We can't wait for you guys to hear it.

                    a(href='#') Read more
                  .post
                    .entry-date
                      .date 13
                      span.month Jan
                    .featured-image
                      img(src='images/ice-prince.jpg', alt='')
                    h2.entry-title
                      a(href='#') We have just signed on Kacey Swish
                    p
                      | We have just signed on Kacey Swish. We have just signed on Kacey Swish. We have just signed on Kacey Swish
                      | We have just signed on Kacey Swish. We have just signed on Kacey Swish. We have just signed on Kacey Swish
                      | We have just signed on Kacey Swish. We have just signed on Kacey Swish. We have just signed on Kacey Swish
                      | We have just signed on Kacey Swish. We have just signed on Kacey Swish. We have just signed on Kacey Swish
                      | We have just signed on Kacey Swish. We have just signed on Kacey Swish. We have just signed on Kacey Swish
                    a(href='#') Read more
                  .post
                    .entry-date
                      .date 8
                      span.month Jan
                    .featured-image
                      img(src='images/mic_2.jpg', alt='')
                    h2.entry-title
                      a(href='#') We are looking for new artists
                    p
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.
                      | We are looking for new artists. We are looking for new artists.

                    a(href='#') Read more
                  .post
                    .entry-date
                      .date 1
                      span.month Jan
                    .featured-image
                      img(src='images/concert_3.jpg', alt='')
                    h2.entry-title
                      a(href='#') Happy New Year
                    p
                      | We at #{company} are wishing you a happy and prosperous new year. We hope that 2017 brings you, your family, your friends and our artists great joy and happiness. I'll be making a new blog post soon so watch out for that.
                    a(href='#') Read more
              .col-md-4.col-md-push-1
                aside.sidebar
                  .widget
                    h3.widget-title Discography

                    include discography
