ul.discography-list
  li
    figure.cover
      img(src='images/jesse-jagz.jpg', alt='thumbnail 1')
    .detail
      h3
        a(href='#') Skinny Jay
      span.year 2016
      span.track 10 tracks
  li
    figure.cover
      img(src='images/ice-prince_2.jpg', alt='thumbnail 2')
    .detail
      h3
        a(href='#') Kacey Swish
      span.year 2017
      span.track 17 tracks
  li
    figure.cover
      img(src='images/solid-star.jpg', alt='thumbnail 3')
    .detail
      h3
        a(href='#') Lil Barry
      span.year 2016
      span.track 12 tracks
  li
    figure.cover
      img(src='images/tu-face.jpg', alt='thumbnail 4')
    .detail
      h3
        a(href='#') Ziggy Zagga
      span.year 2016
      span.track 8 tracks
