header.section-header
  h2.section-title Upcoming events
  .event-nav
    a#event-prev.prev(href='#')
      i.fa.fa-caret-left
    a#event-next.next(href='#')
      i.fa.fa-caret-right

.event-carousel
  .event
    .entry-date
      .date 27
      span.month Jan
    h2.entry-title
      a(href='tickets') Skinny Jay performing in Jos
    p
      | The master will be performing right here in J-Town on the 27th of this month. So get your tickets and prepare to be dazzled.

  .event
    .entry-date
      .date 1
      span.month Feb
    h2.entry-title
      a(href='tickets') Skinny Jay performing in Port Harcourt
    p
      | The boss himself will be performing in PH on the 1st of next month. So get your tickets and prepare to be dazzled.

  .event
    .entry-date
      .date 4
      span.month Feb
    h2.entry-title
      a(href='tickets') Skinny Jay performing in Kaduna
    p
      | The machiavelli himself will be performing in Kaduna on the 4th of next month. So get your tickets and prepare to be dazzled.

  .event
    .entry-date
      .date 7
      span.month Feb
    h2.entry-title
      a(href='tickets') Skinny Jay performing in the FCT (Abuja)
    p
      | The king himself will be performing in the capital on the 7th of next month. So get your tickets and prepare to be dazzled.

  .event
    .entry-date
      .date 20
      span.month Feb
    h2.entry-title
      a(href='tickets') Skinny Jay performing in Lagos
    p
      | The master himself will be performing in Lagos on the 20th of next month. So get your tickets and prepare to be dazzled.
